



/*.img
{
    height: 60vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(1);
    
    
    
}*/

#navs
{
    background-color: rgb(141, 183, 141);
}

.navbar a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.carousel-inner img
{
    height: 80vh;
}
#explore 
{
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(181, 115, 22);
    text-align: center;
}

.text-wrap
{
    width: 30px;    
}

.img-fluid
{
    width: 350px;
    height: 360px;
}

.grid{
    background-color: rgb(244, 243, 191);
    
}

.grid  img
{
    padding:1px;
}

.grid a
{
    text-decoration: none;
}

                                                /*Districts*/



h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: blue;
    
}


.figure a img
{
    height: 250px;
}

                                                    /*Login*/

#loginimg

{
    height: 100vh;
    width: 100%;  
  
}

#bgmg
{
    background-image: url('images/verubooti.jpg');
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%  
    
}

#bgmg form
{
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(73, 40, 1, 0.2);
    
}

#bgmg h1{
    
    text-align: left;

    color: rgb(5, 29, 5);
}

#bgmg form a{
    text-decoration: none;
    color: rgb(1, 1, 1);
    font-style: bold;
}


                                               /*    SignUp  */

#backgroundimg
{
    background-image: url('images/ente.webp');
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100% 

}

#backgroundimg form
{
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: 2px solid rgb(255, 255, 255);
}

#backgroundimg form h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#backgroundimg form a{
    text-decoration: none;
}

                                                /*contact*/


#backimg
{
    background-color: bisque;
    height: 100vh;
    width: 100%  
    
}

#mail
{
    font-family: 'Times New Roman', Times, serif;
}

#call
{
    font-family: 'Times New Roman', Times, serif;
}

#backimg a{
    text-decoration: none;
    color: rgb(102, 63, 18);
}


.figure img
{
    height: 250px;
}

footer{
    background-color: rgb(71, 54, 25);
    color: antiquewhite;
    text-align: center;
}